.highlighted {
  font-weight: bold;
  color: black;
  background-color: #fff;
  border-radius: 91% 9% 93% 7% / 25% 92% 8% 75%;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);
  font-size: clamp(1rem, 6vw, 5rem);
  white-space: nowrap;
}
